body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
.container {
    background-color: peachpuff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    height: 900px;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.bill-amount{
    margin-top: 70px;
}
.tip-percentage{
    margin-top: 50px;
}
.number-of-people{
    margin-top: 50px;
}
.total-tip{
    margin-bottom: 70px;
}
.total-bill {
    margin-bottom: 90px;
}
#btn15{
    background-color: orange;
}
#btn18{
    background-color: yellow;
}
#btn20{
    background-color: chartreuse;
}